<a href="https://colab.research.google.com/github/isaacspj/pyton/blob/main/pyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Importa a biblioteca pandas para trabalhar com dados em formato de tabela.
import pandas as pd

In [23]:
# Carrega os dados de um arquivo CSV (salaries.csv) direto do GitHub para uma tabela chamada 'df'.
df = pd.read_csv("https://raw.githubusercontent.com/isaacspj/pyton/refs/heads/main/pyton.csv")

In [24]:
# Mostra as primeiras 5 linhas da tabela 'df' para ver como os dados são.
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [6]:
# Mostra um resumo dos dados, como quantas linhas, colunas e o tipo de informação em cada coluna.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [7]:
# Mostra o tamanho da tabela, ou seja, quantas linhas e colunas ela tem.
df.shape

(133349, 11)

In [8]:
# Pega o número de linhas e colunas da tabela 'df'.
linhas,colunas = df.shape[0], df.shape[1]
# Mostra o número de linhas.
print("linhas= ",linhas)
# Mostra o número de colunas.
print("colunas= ",colunas)

linhas=  133349
colunas=  11

In [10]:
# Mostra o nome de todas as colunas da tabela 'df'.
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [11]:
# Conta quantos de cada nível de experiência existem na coluna 'experience_level'.
df["experience_level"].value_counts()

experience_level
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [12]:
# Conta quantos de cada tamanho de empresa existem na coluna 'company_size'.
df["company_size"].value_counts()

company_size
M    129561
L      3574
S       214
Name: count, dtype: int64

In [20]:
# Cria um 'dicionário' para traduzir as letras dos tamanhos de empresa (M, L, S) para palavras (Médio, Grande, Pequeno).
mapa_tamanho_empresa = {
    'M': 'Medio',
    'L': 'Grande',
    'S': 'Pequeno'
}
# Troca o nome da coluna 'company_size' para 'tamanho_empresa'.
df = df.rename(columns={'company_size': 'tamanho_empresa'})
# Aplica a tradução aos valores da coluna 'tamanho_empresa'.
df['tamanho_empresa'] = df['tamanho_empresa'].map(mapa_tamanho_empresa)
# Mostra quantos de cada tamanho de empresa existem depois da tradução.
display(df['tamanho_empresa'].value_counts())

Series([], Name: count, dtype: int64)

In [18]:
# Lista os nomes das colunas em inglês e seus equivalentes em português.
colunas_traduzidas = {
    'work_year': 'ano_trabalho',
    'experience_level': 'nivel_experiencia',
    'employment_type': 'tipo_emprego',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda_salario',
    'salary_in_usd': 'salario_em_usd',
    'employee_residence': 'residencia_funcionario',
    'remote_ratio': 'percentual_remoto',
    'company_location': 'localizacao_empresa'
    # 'company_size': 'tamanho_empresa' # Essa coluna já foi renomeada antes.
}
# Renomeia as colunas da tabela 'df' usando a lista de traduções.
df = df.rename(columns=colunas_traduzidas)
# Mostra os novos nomes das colunas para confirmar que foram traduzidos.
print(df.columns)

Index(['ano_trabalho', 'nivel_experiencia', 'tipo_emprego', 'cargo', 'salario',
       'moeda_salario', 'salario_em_usd', 'residencia_funcionario',
       'percentual_remoto', 'localizacao_empresa', 'tamanho_empresa'],
      dtype='object')

In [19]:
# Mostra as primeiras 5 linhas da tabela 'df' depois de renomear as colunas e traduzir alguns valores.
df.head()

,ano_trabalho,nivel_experiencia,tipo_emprego,cargo,salario,moeda_salario,salario_em_usd,residencia_funcionario,percentual_remoto,localizacao_empresa,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,NaN
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,NaN
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,NaN
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,NaN
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,NaN

In [21]:
# Dicionário para traduzir as siglas de tipo de emprego (FT, PT, CT, FL) para português.
mapa_tipo_emprego = {
    'FT': 'Tempo Integral',
    'PT': 'Meio Período',
    'CT': 'Contrato',
    'FL': 'Freelancer'
}

# Mostra quantos de cada tipo de emprego existem antes da tradução.
print("Contagem antes da tradução:")
display(df['tipo_emprego'].value_counts())

# Traduz os valores da coluna 'tipo_emprego' usando o dicionário.
df['tipo_emprego'] = df['tipo_emprego'].map(mapa_tipo_emprego)

# Mostra quantos de cada tipo de emprego existem depois da tradução.
print("\nContagem depois da tradução:")
display(df['tipo_emprego'].value_counts())

Contagem antes da tradução:

tipo_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

Contagem depois da tradução:

tipo_emprego
Tempo Integral    132563
Contrato             394
Meio Período         376
Freelancer            16
Name: count, dtype: int64

In [22]:
# Dicionário para traduzir as siglas de nível de experiência (SE, MI, EN, EX) para português.
mapa_nivel_experiencia = {
    'SE': 'Sênior',
    'MI': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
}

# Mostra quantos de cada nível de experiência existem antes da tradução.
print("Contagem antes da tradução:")
display(df['nivel_experiencia'].value_counts())

# Traduz os valores da coluna 'nivel_experiencia' usando o dicionário.
df['nivel_experiencia'] = df['nivel_experiencia'].map(mapa_nivel_experiencia)

# Mostra quantos de cada nível de experiência existem depois da tradução.
print("\nContagem depois da tradução:")
display(df['nivel_experiencia'].value_counts())

Contagem antes da tradução:

nivel_experiencia
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

Contagem depois da tradução:

nivel_experiencia
Sênior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64